@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    min-height: 100vh;
    background: url(../img/bg-desktop.svg) no-repeat center center fixed;
    background-size: cover;
    background-color: hsl(257deg, 40%, 49%);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 42px;
    color:#fff;
}

p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 17px;
    color: #fff;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.btn {
    background-color: #fff;
    padding: .8rem 4rem .8rem 4rem;
    border-radius: 25px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 17px;
    color:hsl(257, 40%, 49%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .2s;
    &:hover,&:focus,&:active {
        background-color: hsl(300, 69%, 71%);
        color: #fff;
        border-color:hsl(300, 69%, 71%);
    }
}

.ilustration {
    max-width: 100%;
    height: auto;
}

.social-media {
    float:right;
    svg {
        fill:#fff;
        width: 40px;
        height: 40px;
    
        padding: .6rem;
        line-height: initial !important;
        
        text-align:center;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: .2s;
        &:hover {
            border: 1px solid hsl(300, 69%, 71%);
            fill: hsl(300, 69%, 71%);
        }
    }
}

@media only screen and (max-width: 575px) {
    body {
        background: url('../img/bg-mobile.svg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }
    h1,p {
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
    .xs-text-center {
        text-align: center;
    }
    .d-xs-flex {
        display:flex;
    }
    .justify-content-xs-center {
        justify-content: center;
    }
}
@media only screen and (min-width: 576px) and (max-width: 766px) {
    .ilustration {
        margin-top: 8.5rem;
    }
    .xs-text-center {
        text-align: center;
    }
    .d-xs-flex {
        display:flex;
    }
    .justify-content-xs-center {
        justify-content: center;
    }
}

@media only screen and (min-width: 766px) and (max-width: 992px) {
    .ilustration {
        margin-top: 6rem;
    }
    .xs-text-center {
        text-align: center;
    }
    .d-xs-flex {
        display:flex;
    }
    .justify-content-xs-center {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .ilustration {
        margin-top: 3.5rem;
    }
}